form {
  display: grid;
  max-width: 200px;
  gap: 20px;
}

.input-box,
textarea {
  background: #fbdabb;
  width: 300px;
  height: 40px;
  border-radius: 16px;
  border: 1px solid #495e57;
  padding: 4px;
}

.submit-button {
  background-color: #f4ce14;
  color: black;
  border-radius: 10px;
  padding: 1rem;
  border: none;
  transition-duration: 0.4s;
  font-weight: bold;
}

.submit-button:hover {
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
